.App {

  display: grid;
  margin: 0 auto;
  width: 100%;

  grid-template-areas:
  "h h h h"
  "category category category category"
  ". nav services .";

  grid-template-rows: 96px 96px 10fr;
  grid-template-columns: 1fr 2fr 6fr 1fr;
  grid-gap: 0px;

  background: grey;
}







.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
